<!-- Side area -->
<app-review-rest-overlay *ngIf="(showRestReviewOverlay) == true" 
                      [model]="model" 
                      (closeOverlayEventEmitter)="this.disableRestOverlay($event)"
                      (reloadEventEmitter)="this.handleRestReviewReload($event)"></app-review-rest-overlay>


<div *ngIf="this.editMode == false && this.newRestMode == false"
    class="basis-1/4 min-w-[25rem] h-full shadow-xl shadow-green-900/50 overflow-y-auto relative">
    <div *ngIf="model != null" class="h-full w-full pt-4 flex flex-col items-center justify-start space-y-5 absolute top-0 left-0">
        <div class="w-full h-[10%] py-0.5">
            <h2 class="flex text-3xl font-semibold text-gray-900 items-center justify-center">{{model.name}}</h2>
        </div>

        <div class="h-56 flex justify-center px-4">
            <img [src]="this.profileImageURL" (error)="updateUrlWithDefault()"
                class="w-fit object-cover aspect-square rounded-2xl">
        </div>

        <div *ngIf="this.isOwner == false" class="w-full h-fit flex items-center justify-start px-4 gap-2">
            <button (click)='this.followButtonAction()' *ngIf="(this.isFollowing == false)"
                class="w-1/2 py-2 rounded-xl text-green-900 border bg-gray-50 hover:bg-green-800 hover:text-gray-50 border-green-900">{{
                this.followButtonText }}
            </button>
            <button (click)='this.followButtonAction()' *ngIf="(this.isFollowing)"
                class="w-1/2 py-2 rounded-xl text-gray-50 border bg-green-900 hover:bg-red-800 hover:text-gray-50 border-green-900 hover:border-red-900">{{
                this.followButtonText }}
            </button>

            <button (click)='this.reviewRestaurantAction()'
            class="w-1/2 py-2 rounded-xl text-green-900 border bg-gray-50 hover:bg-green-800 hover:text-gray-50 border-green-900">Review
        </button>

        </div>

        <div *ngIf="this.isOwner == true" class="w-full h-fit flex items-center justify-start px-4 gap-2">
            <button (click)='this.editDetailsAction()'
                class="w-full py-2 rounded-xl text-green-900 border bg-gray-50 hover:bg-green-800 hover:text-gray-50 border-green-900">
                Edit
            </button>

        </div>

        <div class="flex flex-col gap-2 w-full h-fit px-6">
            <p class="text-base font-thin text-gray-900 uppercase mx-4 text-center">Followers: {{model.followers}}</p>

            <p *ngIf="(this.model.price != null)" class="text-base font-thin text-gray-900 uppercase mx-4 text-center">Range: {{model.minPrice}}$ -
                    {{model.maxPrice}}$</p>
            
            <app-grade-tile [name]="'atmosphere'" [grade]="this.model.atmosphereRating"></app-grade-tile>
            <app-grade-tile [name]="'service'" [grade]="this.model.serviceRating"></app-grade-tile>
        </div>

        <p class="text-center font-light mx-4">{{model.description}}</p>

        <p class="text-center font-light mx-4">{{model.address}}</p>



        <p *ngIf="(model.phoneNumber != '')" class="text-center font-light mx-4">{{model.phoneNumber}}</p>

        <p *ngIf="(model.email != '')" class="text-center font-light mx-4 pb-10">{{model.email}}</p>

    </div>
</div>



<form *ngIf="this.editMode == true && this.newRestMode == false" (ngSubmit)="this.submitEditAction()"
    class="basis-1/4 min-w-[25rem] h-full shadow-xl shadow-green-900/50 overflow-y-auto relative">
    <div class="h-full pt-4 flex flex-col items-center justify-start space-y-5 absolute top-0 left-0">

        <div class="flex w-full h-[10%] px-4 justify-center">
            <mat-form-field>
                <textarea matInput [(ngModel)]="this.editModel.name" rows="1" minlength="1" maxlength="20" name="name"
                    required
                    class="flex w-full h-fit text-center resize-none justify-center items-center text-3xl font-semibold text-gray-900 appearance-none rounded-2xl bg-gray-200 border border-gray-200 px-4 leading-tight focus:outline-none focus:bg-gray-200 focus:border-green-700 focus:invalid:border-red-800"
                    placeholder="{{this.model.name}}"></textarea>
            </mat-form-field>
        </div>

        <div class="h-56 flex justify-center px-4">
            <input (change)="this.uploadFiles(fileInput.files)" hidden #fileInput type="file" requiredFileType="image/webp" id="file"/>
            <img [src]="this.profileImageURL" (error)="updateUrlWithDefault()" (click)="fileInput.click()"
                class="w-fit object-cover aspect-square rounded-2xl hover:animate-pulse cursor-pointer">
        </div>

        <div *ngIf="this.isOwner == true" class="w-full h-fit flex items-center justify-start px-4 gap-2">
            <button (click)='this.submitEditAction()'
                class="w-1/2 py-2 rounded-xl text-green-900 border bg-gray-50 hover:bg-green-800 hover:text-gray-50 border-green-900">
                Apply
            </button>

            <button (click)='this.cancelEditAction()'
                class="w-1/2 py-2 rounded-xl text-green-900 border bg-gray-50 hover:bg-green-800 hover:text-gray-50 border-green-900">
                Cancel
            </button>

        </div>

        <div class="flex w-full px-4">
            <mat-form-field class="w-full items-center">
                <textarea matInput [(ngModel)]="this.editModel.description" rows="3" minlength="1" maxlength="150"
                    name="description" required
                    class="flex w-full h-fit text-center resize-none font-light text-gray-900 appearance-none rounded-2xl bg-gray-200 border border-gray-200 leading-tight focus:outline-none focus:bg-gray-200 focus:border-green-700 focus:invalid:border-red-800"
                    placeholder="{{this.model.description}}"></textarea>
            </mat-form-field>
        </div>

        <div class="flex w-full px-4">
            <mat-form-field class="w-full">
                <textarea matInput [(ngModel)]="this.editModel.address" rows="2" minlength="1" maxlength="150"
                    name="address" required
                    class="flex w-full h-fit text-center resize-none font-light text-gray-900 appearance-none rounded-2xl bg-gray-200 border border-gray-200 leading-tight focus:outline-none focus:bg-gray-200 focus:border-green-700 focus:invalid:border-red-800"
                    placeholder="{{this.model.address}}"></textarea>
            </mat-form-field>
        </div>

        <div class="flex w-full px-4">
            <mat-form-field class="w-full">
                <textarea matInput [(ngModel)]="this.editModel.phoneNumber" rows="1" minlength="1" maxlength="150"
                    name="phoneNumber" required
                    class="flex w-full h-fit text-center resize-none font-light py-1 text-gray-900 appearance-none rounded-2xl bg-gray-200 border border-gray-200 leading-tight focus:outline-none focus:bg-gray-200 focus:border-green-700 focus:invalid:border-red-800"
                    placeholder="{{this.model.phoneNumber}}"></textarea>
            </mat-form-field>
        </div>

        <div class="flex w-full px-4">
            <mat-form-field class="w-full">
                <textarea matInput [(ngModel)]="this.editModel.email" rows="1" minlength="1" maxlength="40" name="email"
                    required
                    class="flex w-full h-fit text-center resize-none font-light py-1 text-gray-900 appearance-none rounded-2xl bg-gray-200 border border-gray-200 leading-tight focus:outline-none focus:bg-gray-200 focus:border-green-700 focus:invalid:border-red-800"
                    placeholder="{{this.model.email}}"></textarea>
            </mat-form-field>
        </div>

    </div>
</form>



<!-- Main area -->
<div *ngIf="this.newRestMode == false" class="grow h-full flex flex-col pt-4">

    <div *ngIf="this.isOwner" class="flex w-full h-[10%] content-center justify-center items-center">
        <div class="w-1/2 h-full">
            <app-tab-switcher (tabSelectEvent)="selectNewTab($event)" [default]="this.selectedTabID"
                [tabNames]="['Menu', 'Posts', 'Activity', 'Orders']"></app-tab-switcher>
        </div>
    </div>

    <div *ngIf="this.isOwner == false" class="flex w-full h-[10%] content-center justify-center items-center">
        <div class="w-1/2 h-full">
            <app-tab-switcher (tabSelectEvent)="selectNewTab($event)" [default]="this.selectedTabID"
                [tabNames]="['Menu', 'Posts', 'Activity']"></app-tab-switcher>
        </div>
    </div>

    <div (scroll)="onScroll($event)" class="overflow-y-auto relative w-full grow">
        <!-- Menu -->
        <div *ngIf="(this.selectedTabID) == 0"
            class="w-full flex flex-col space-y-5 absolute top-0 left-0 justify-center content-center items-center align-middle">
            <!-- If there are dishes to show, display dishes list -->

            <app-add-dish-post class="w-5/6 h-fit" *ngIf="(this.isOwner)" [model]="this.model"
                (reloadEventEmitter)="this.updateData($event)"></app-add-dish-post>

            <div class="flex w-full h-full items-center content-center justify-center"
                *ngFor="let dish of this.fetchedDishes">
                <div class="w-5/6 h-fit">
                    <app-menu-post [model]="dish" [isOwner]="this.isOwner"
                        (reloadEventEmitter)="this.updateData($event)"></app-menu-post>
                </div>
            </div>
        </div>

        <!-- Posts -->
        <div *ngIf="(this.selectedTabID) == 1"
            class="w-full flex flex-col space-y-5 absolute top-0 left-0 justify-center content-center items-center align-middle">
            
            <app-add-rest-post class="w-5/6 h-fit" *ngIf="(this.isOwner)" [model]="this.model" [postType]="this.addPostTypes.RESTAURANT"
                (reloadEventEmitter)="this.updateData($event)"></app-add-rest-post>

            <div class="flex w-full h-full items-center content-center justify-center"
                *ngFor="let post of this.fetchedPosts">
                <div class="w-5/6 h-fit">
                    <app-adjustable-post [type]="this.postTypes.REGULAR_POST" [model]="post" [isOwner]="this.isOwner" (reloadEventEmitter)="this.updateData($event)"></app-adjustable-post>
                </div>
            </div>
        </div>

        <!-- Activity -->
        <div *ngIf="(this.selectedTabID) == 2"
            class="w-full flex flex-col items-center justify-center space-y-5 absolute top-0 left-0">
            <div class="w-5/6 h-full" *ngFor="let activity of fetchedActivity">
            
                <app-adjustable-post *ngIf="activity.type == this.activityTypes.RESTAURANT_POST" [type]="this.postTypes.REGULAR_POST" [model]="activity" [isOwner]="this.isOwner" [isReviewer]="activity.creatorId == (this.accountService.currentUser$ | async).id" (reloadEventEmitter)="this.updateData($event)"></app-adjustable-post>
            
                <app-adjustable-post *ngIf="activity.type == this.activityTypes.DISH_REVIEW" [type]="this.postTypes.DISH_REVIEW" [model]="activity" [isOwner]="this.isOwner" [isReviewer]="activity.creatorId == (this.accountService.currentUser$ | async).id" (reloadEventEmitter)="this.updateData($event)"></app-adjustable-post>

                <app-adjustable-post *ngIf="activity.type == this.activityTypes.RESTAURANT_REVIEW" [type]="this.postTypes.REST_REVIEW" [model]="activity" [isOwner]="this.isOwner" [isReviewer]="activity.creatorId == (this.accountService.currentUser$ | async).id" (reloadEventEmitter)="this.updateData($event)"></app-adjustable-post>
            
            </div>
            
        </div>

        <!-- Activity -->
        <div *ngIf="(this.selectedTabID) == 3 && this.isOwner"
            class="w-full flex flex-col items-center justify-center space-y-5 absolute top-0 left-0">
            <div class="w-5/6 h-full" *ngFor="let order of fetchedOrders">
            
                <app-order-post [model]="order" [canManage]="true" (reloadEventEmitter)="this.updateData($event)"></app-order-post>
            
            </div>
            
        </div>

    </div>
</div>




<!-- NEW RESTAURANT MODE -->
<form *ngIf="this.newRestMode == true" class="basis-1/4 min-w-[25rem] h-full shadow-xl shadow-green-900/50 overflow-y-auto relative">
    <div class="h-full pt-4 flex flex-col items-center justify-start space-y-5 absolute top-0 left-0">

        <div class="flex w-full h-[10%] px-4 justify-center">
            <mat-form-field class="w-full items-center">
                <textarea matInput [(ngModel)]="this.newRestModel.name" rows="1" minlength="1" maxlength="20"
                    name="name" required
                    class="flex text-3xl font-semibold w-full h-fit text-center resize-none text-gray-900 appearance-none rounded-2xl bg-gray-200 border border-gray-200 leading-tight focus:outline-none focus:bg-gray-200 focus:border-green-700 focus:invalid:border-red-800"
                    placeholder="Name"></textarea>
            </mat-form-field>
        </div>

        <div (click)="fileInput.click()" class="h-full flex justify-center px-4 cursor-pointer">
            <input hidden (change)="this.uploadImage()" #fileInput type="file" requiredFileType="image/webp" id="file"/>
            <svg *ngIf="this.imageUploaded == false" class="stroke-green-900 stroke-1 w-full h-full aspect-square"
                        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M20 20H16M4 8V4V8ZM4 4H8H4ZM4 4L9 9L4 4ZM20 8V4V8ZM20 4H16H20ZM20 4L15 9L20 4ZM4 16V20V16ZM4 20H8H4ZM4 20L9 15L4 20ZM20 20L15 15L20 20ZM20 20V16V20Z"
                            stroke-linecap="round" stroke-linejoin="round" />
            </svg>

            <svg *ngIf="this.imageUploaded == true" class="stroke-green-900 stroke-1 w-full h-full flex aspect-square" viewBox="0 0 24 24"
                fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M9 12L11 14L15 10M21 12C21 13.1819 20.7672 14.3522 20.3149 15.4442C19.8626 16.5361 19.1997 17.5282 18.364 18.364C17.5282 19.1997 16.5361 19.8626 15.4442 20.3149C14.3522 20.7672 13.1819 21 12 21C10.8181 21 9.64778 20.7672 8.55585 20.3149C7.46392 19.8626 6.47177 19.1997 5.63604 18.364C4.80031 17.5282 4.13738 16.5361 3.68508 15.4442C3.23279 14.3522 3 13.1819 3 12C3 9.61305 3.94821 7.32387 5.63604 5.63604C7.32387 3.94821 9.61305 3 12 3C14.3869 3 16.6761 3.94821 18.364 5.63604C20.0518 7.32387 21 9.61305 21 12Z"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>

        <div *ngIf="this.confirmLogout == false" class="w-full h-fit flex items-center justify-start px-4 gap-2">
            <button (click)='this.newRestCreateAction(fileInput.files)'
                class="w-1/2 py-2 rounded-xl text-green-900 border bg-gray-50 hover:bg-green-800 hover:text-gray-50 border-green-900">
                Create
            </button>

            <button (click)='this.newRestCancelAction()'
                class="w-1/2 py-2 rounded-xl text-green-900 border bg-gray-50 hover:bg-green-800 hover:text-gray-50 border-green-900">
                Cancel
            </button>
        </div>

        <div *ngIf="this.confirmLogout == true" class="w-full h-fit flex items-center justify-start px-4 gap-2">
            <button (click)='this.newRestLogoutAction()'
                class="w-full py-2 rounded-xl text-gray-50 border bg-green-900 hover:bg-green-800 hover:text-gray-50 border-green-900">
                Confirm reload
            </button>
        </div>

        <div class="flex w-full px-4">
            <mat-form-field class="w-full items-center">
                <textarea matInput [(ngModel)]="this.newRestModel.description" rows="3" minlength="1" maxlength="150"
                    name="description" required
                    class="flex w-full h-fit text-center resize-none font-light text-gray-900 appearance-none rounded-2xl bg-gray-200 border border-gray-200 leading-tight focus:outline-none focus:bg-gray-200 focus:border-green-700 focus:invalid:border-red-800"
                    placeholder="Description"></textarea>
            </mat-form-field>
        </div>

        <div class="flex w-full px-4">
            <mat-form-field class="w-full">
                <textarea matInput [(ngModel)]="this.newRestModel.address" rows="2" minlength="1" maxlength="150"
                    name="address" required
                    class="flex w-full h-fit text-center resize-none font-light text-gray-900 appearance-none rounded-2xl bg-gray-200 border border-gray-200 leading-tight focus:outline-none focus:bg-gray-200 focus:border-green-700 focus:invalid:border-red-800"
                    placeholder="Address"></textarea>
            </mat-form-field>
        </div>

        <div class="flex w-full px-4">
            <mat-form-field class="w-full">
                <textarea matInput [(ngModel)]="this.newRestModel.phoneNumber" rows="1" minlength="1" maxlength="150"
                    name="phoneNumber" required
                    class="flex w-full h-fit text-center resize-none font-light py-1 text-gray-900 appearance-none rounded-2xl bg-gray-200 border border-gray-200 leading-tight focus:outline-none focus:bg-gray-200 focus:border-green-700 focus:invalid:border-red-800"
                    placeholder="Phone number"></textarea>
            </mat-form-field>
        </div>

        <div class="flex w-full px-4">
            <mat-form-field class="w-full">
                <textarea matInput [(ngModel)]="this.newRestModel.email" rows="1" minlength="1" maxlength="40" name="email"
                    required
                    class="flex w-full h-fit text-center resize-none font-light py-1 text-gray-900 appearance-none rounded-2xl bg-gray-200 border border-gray-200 leading-tight focus:outline-none focus:bg-gray-200 focus:border-green-700 focus:invalid:border-red-800"
                    placeholder="Email"></textarea>
            </mat-form-field>
        </div>

    </div>
</form>


<div *ngIf="this.newRestMode == true" class="grow h-full flex flex-col pt-4">

    <div class="flex flex-col w-full h-[10%] content-center justify-center items-center">
        <div class="w-1/2 h-full">
            <app-tab-switcher (tabSelectEvent)="selectNewTab($event)" [default]="this.selectedTabID"
                [tabNames]="['Menu', 'Posts', 'Activity', 'Orders']"></app-tab-switcher>
        </div>
    </div>

    <div class="flex w-full h-full justify-center items-center">
        <div class="w-fit h-fit flex items-center justify-center flex-col line-clamp-6">
            <p *ngIf="this.newRestError == null" class="text-3xl text-gray-900">Nothing to see here yet.</p>

            <p *ngIf="this.newRestError != null" class="text-3xl text-gray-900">{{this.newRestError}}</p>
        </div>
    </div>

</div>
