<nav class="top-0 fixed z-50 bg-gray-50 rounded-b-xl shadow-md shadow-green-900/50 left-0 right-0">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center contents-center justify-between h-16">
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4 text-gray-700 text-base">

              <a [routerLink]="['/landing-page']" class="hover:text-green-700 px-3 py-2 rounded-md text-base font-light">About us</a>
  
              <a [routerLink]="['/counter']" class="hover:text-green-700 px-3 py-2 rounded-md text-base font-light">Team</a>
  
              <a [routerLink]="['/fetch-data']" class="hover:text-green-700 px-3 py-2 rounded-md text-base font-light">FAQ</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
