<div *ngIf="(accountService.currentUser$ | async) == null" class="bg-green-900 w-full h-32">

        <div class="grid grid-flow-col auto-cols-max w-full h-full items-center justify-center px-32 gap-40">

            <div class="flex-row">
                <p class="font-bold text-3xl text-gray-50">12870+</p>
                <p class="font-medium text-base text-gray-50">Restaurants</p>
            </div>

            <div class="flex-row">
                <p class="font-bold text-3xl text-gray-50">537000+</p>
                <p class="font-medium text-base text-gray-50">Users</p>
            </div>

            <div class="flex-row">
                <p class="font-bold text-3xl text-gray-50">200+</p>
                <p class="font-medium text-base text-gray-50">Orders / minute</p>
            </div>

            <div class="flex-row">
                <p class="font-bold text-3xl text-gray-50">196700+</p>
                <p class="font-medium text-base text-gray-50">Meals</p>
            </div>

        </div>
</div>