<div class="flex w-full h-full bg-gray-50 border-2 p-4 border-green-900 rounded-2xl overflow-hidden">
    <div class="flex flex-grow w-fit h-full">
        <app-dish-tile [model]="model" [showDescription]="false"></app-dish-tile>
    </div>

    <div class="flex flex-col flex-grow w-2/4 m-8 overflow-hidden ml-16">

        <p class="text-2xl font-bold truncate text-green-900">{{model.name}}</p>
        <p class="text-base text-gray-900">{{model.description}}</p>
    </div>

    <div class="flex flex-col w-1/4 h-full overflow-clip">

        <div class="flex flex-col flex-grow w-full h-1/2 gap-2 mt-8">

            <button *ngIf="(this.isOwner == false)" (click)='this.addReviewAction()'
            class="w-full py-2 rounded-xl text-green-900 border bg-gray-50 hover:bg-green-800 hover:text-gray-50 border-green-900">Review</button>
    
            <button *ngIf="(this.isOwner == true)" (click)='this.followButtonAction()'
            class="w-full py-2 rounded-xl text-green-900 border bg-gray-50 hover:bg-green-800 hover:text-gray-50 border-green-900">Edit</button>
    
            <app-delete-dish-overlay *ngIf="(showOverlay) == true" 
                                     [model]="model" 
                                     (closeOverlayEventEmitter)="disableLoginOverlay()"
                                     (reloadEventEmitter)="this.emitReload($event)"></app-delete-dish-overlay>
            <div (click)="invertOverlayFlag()" class="flex w-full h-fit justify-center items-center content-center flex-col cursor-pointer group">
                <button *ngIf="(this.isOwner == true)" (click)='this.deleteAction()'
                        class="w-full py-2 rounded-xl text-green-900 border bg-gray-50 hover:bg-red-800 hover:text-gray-50 hover:border-red-800 border-green-900">Delete</button>
            </div>

        </div>

    </div>

</div>