<div class="h-full w-full flex items-center justify-evenly py-4">
    <div class="w-3/6">
        <h3 class="text-5xl font-bold p-2 text-green-900">
            Order food from favourite restaurants near You.
        </h3>

        <p class="text-xl font-normal p-2">
            Order your food, be able to search and buy the plate you would love to eat!
        </p>
    </div>

    <div class="w-2/6 flex items-center justify-center">

        <img class="inline object-cover rounded-full shadow-md shadow-black/50" src={{mealImageUrl}}/>

    </div>
</div>