
<div class="grid grid-cols-2 w-screen  h-1/2 bg-gray-50 items-center px-16">

    <div class="w-full cols-span-1">
        <div class="">
            <h3 class="text-5xl font-bold p-2 space-y-4 border-gray-900 text-green-900">
                Order food from favourite restaurants near You.
            </h3>

            <p class="text-xl font-normal p-2">
                Order your food, be able to search and buy the plate you would love to eat!
            </p>
        </div>
    </div>

    <div class="w-full cols-span-1">
        <div class="flex justify-end">

            <img class="w-3/4 rounded-full shadow-md shadow-black/50" src={{mealImageUrl}}/>

        </div>
    </div>

</div>
    
    



