<div class="fixed top-0 left-0 h-screen w-screen flex items-center justify-center py-4 z-50">
    <!-- BG absolute child which is used to detect actions happening behind the main square overlay. -->
    <div (click)="closeOverlayAction()" class="absolute w-full h-full z-10 bg-green-900/30 cursor-pointer backdrop-blur-sm hover:backdrop-blur-none transition-all"></div>
    <div class="aspect-square h-[90%] bg-gray-50 rounded-2xl shadow-md shadow-green-900 border-1 border-green-900 z-20">
        <div class="flex flex-col w-full h-1/3 rounded-2xl py-5 content-center items-center justify-center">
            <h3 class="text-5xl font-bold p-2 text-green-900 w-full justify-center text-center">
                Login / Register
            </h3>

            <div class="overflow-clip w-full h-1/3">
                <p class="text-xl font-normal p-2 text-gray-900 text-center">
                    Don’t have an account yet? Use register button instead!
                </p>
            
                
            </div>
            <p *ngFor="let error of (this.error)" class="text-xl font-normal p-2 text-red-800 text-center">
                    {{error}}
                </p>
        </div>

        <div class="w-full h-2/3 rounded-2xl flex flex-col content-center justify-center items-center px-16">
            <form class="w-full mt-8 space-y-6" action="#" method="POST">
                <input type="hidden" name="remember" value="true">
                <div class="rounded-3xl space-y-10">
                  <div>
                    <label for="username" class="sr-only">Email</label>
                    <input  [(ngModel)]="model.username" 
                            id="username" 
                            name="username" 
                            type="username" 
                            autocomplete="username" 
                            required class="appearance-none rounded-xl relative block w-full px-3 py-4 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-green-500 focus:border-green-900 focus:z-10 text-md invalid:border-red-800 invalid:placeholder-red-800 invalid:text-red-800
                            focus:invalid:border-red-800 focus:invalid:ring-red-800"
                            placeholder="Username">
                  </div>
                  <div>
                    <label for="password" class="sr-only">Password</label>
                    <input [(ngModel)]="model.password" id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-xl relative block w-full px-3 py-4 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-green-500 focus:border-green-900 focus:z-10 text-md invalid:border-red-800 invalid:placeholder-red-800 invalid:text-red-800
                    focus:invalid:border-red-800 focus:invalid:ring-red-800" placeholder="Password">
                  </div>
                </div>
            
                <div class="flex space-x-10 py-10">
                  <button (click)="registerAction()" type="button" class="group relative w-full flex justify-center px-3 py-4 border text-md font-medium rounded-xl text-green-900 bg-gray-50 hover:bg-green-900 hover:text-gray-50 border-green-900">
                        Register
                  </button>
            
                  <button (click)="closeOverlayAction()" type="button" class="rounded-2xl w-40 items-center justify-center flex fill-green-900 border-green-900 border hover:bg-green-900 hover:fill-gray-50">
                    <svg  xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
            
                  <button (click)="loginAction()" type="submit" class="group relative w-full flex justify-center px-3 py-4 border text-md font-medium rounded-xl text-green-900 bg-gray-50 hover:bg-green-900 hover:text-gray-50 border-green-900">
                    Login
                  </button>
                </div>
            </form>
        </div>
    </div>
</div>
