<div class="w-full h-full bg-gray-50 border-2 border-green-900 rounded-2xl">
    <div class="p-8">
        <div class="w-24 h-24 rounded-full mx-auto bg-gray-900/50 animate-pulse">
        </div>
        <div class="pt-2 space-y-2">
            <p class="text-lg font-medium bg-gray-900/50 animate-pulse text-transparent">
              “This is a placeholder for text which is supposed to be a review of the dish.
              It's here to mimic two lines of text with transparent colour.”
            </p>
            <div class="font-normal">
                <div class="text-green-900 text-transparent animate-pulse bg-gray-900/50 w-1/2">
                    Reviewer's name
                </div>
            </div>
        </div>
    </div>
</div>
