<!-- <div class="w-full h-full bg-gray-50 border-2 border-green-900 rounded-2xl">
    <div class="p-8">
        <div class="w-24 h-24 rounded-full mx-auto bg-gray-900/50 animate-pulse">
        </div>
        <div class="pt-2 space-y-2">
            <p class="text-lg font-medium bg-gray-900/50 animate-pulse text-transparent">
              “This is a placeholder for text which is supposed to be a review of the dish.
              It's here to mimic two lines of text with transparent colour.”
            </p>
            <div class="font-normal">
                <div class="text-green-900 text-transparent animate-pulse bg-gray-900/50 w-1/2">
                    Reviewer's name
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Main card div - rows for expanding: by default one row -->
<div class="rounded-2xl shadow-xl flex flex-col w-full max-w-3xl bg-white">
    <!-- Not expanded card contents -->
    <div class="grow flex w-full h-96">
        <!-- Post image -->
        <img src="" class="h-full object-contain rounded-tl-2xl" [ngClass]="true? 'rounded-br-2xl' : 'rounded-bl-2xl'">
        <!-- Post text area-->
        <div class="flex flex-col w-full h-full px-3 py-4 justify-between relative">
            <div class="grow min-h-0 flex flex-col">

                <div class="mb-3">
                    <h3 class="text-xl">{{this.model.id}}</h3>
                    <p> </p>
                </div>
                <a [routerLink]="['/restaurant']" class="text-green-600 font-medium mb-3 hover:animate-pulse"> tagged</a>
                <p #thisElem *ngIf="!true" (click)="toggleExpansion(thisElem)"
                    class="grow overflow-hidden relative after:absolute after:bottom-0 after:left-0 after:h-10 after:w-full after:bg-gradient-to-t after:from-white">
                    {{this.model.description}}
                    <!-- Too long desc just overflow and are hidden, there is a fade out effect on the bottom of the desc. text area -->
                </p>
            </div>
            <!-- Post grades -->
            <div class="pt-4 w-3/4 space-y-1">
                <!-- The additional divs are necessary due to h-full and w-full set on grade-component -->
                <!-- <div *ngFor="let elem of model.grades">
                    <app-grade-component [grade]="elem.grade" [name]="elem.category"></app-grade-component>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Expanded desc - as next in column flex -->
    <p #thisElem *ngIf="true" (click)="toggleExpansion(thisElem)" class="grow py-4 px-4">
        {{ model.description }}
    </p>
</div>