<div class="w-screen h-full bg-gray-50 items-center content-center justify-center flex overflow-y-auto">

    <div class="w-full items-center justify-center overflow-y-scroll">

        <div class="max-h-1/6 w-full flex justify-center pt-5">
            <p class="text-5xl font-bold text-green-900">
                FAQ
            </p>
        </div>
        <div class="min-h-5/6 w-full flex flex-col gap-2 justify-center items-center">

            <div class="w-2/5 p-2">
                <details class="open:bg-green-800 open:ring-1 open:ring-gray-900/50 open:shadow-md p-6 rounded-xl
                                  closed: bg-green-900 closed:ring-green-900 closed:shadow-md" closed>
                    <summary class="open: text-gray-500 text-lg leading-6 dark:text-gray-50 font-semibold select-none">
                        Is this service free?
                    </summary>
                    <div class="mt-3 text-base leading- text-gray-50">
                        <p>Yes, our service is free of charge for everyone!</p>
                    </div>
                </details>
            </div>

            <div class="w-2/5 p-2">
                <details class="open:bg-green-800 open:ring-1 open:ring-gray-900/50 open:shadow-md p-6 rounded-xl
                                  closed: bg-green-900 closed:ring-green-900 closed:shadow-md" closed>
                    <summary class="open: text-gray-500 text-lg leading-6 dark:text-gray-50 font-semibold select-none">
                        How can I create restaurant profile?
                    </summary>
                    <div class="mt-3 text-base leading- text-gray-50">
                        <p>After registering, you can use "Create Restaurant Profile" button available on your profile page.</p>
                    </div>
                </details>
            </div>

            <div class="p-2 w-2/5">
                <details class="open:bg-green-800 open:ring-1 open:ring-gray-900/50 open:shadow-md p-6 rounded-xl
                                  closed: bg-green-900 closed:ring-green-900 closed:shadow-md" closed>
                    <summary class="open: text-gray-500 text-lg leading-6 dark:text-gray-50 font-semibold select-none">
                        Why I can't see my favourite restaurant?
                    </summary>
                    <div class="mt-3 text-base leading- text-gray-50">
                        <p>Encourage restaurant owners to sign-up in our service to order meals from them.</p>
                    </div>
                </details>
            </div>

            <div class="w-2/5 p-2">
                <details class="open:bg-green-800 open:ring-1 open:ring-gray-900/50 open:shadow-md p-6 rounded-xl
                                  closed: bg-green-900 closed:ring-green-900 closed:shadow-md" closed>
                    <summary class="open: text-gray-500 text-lg leading-6 dark:text-gray-50 font-semibold select-none">
                        What are the advantages of following restaurants and users?
                    </summary>
                    <div class="mt-3 text-base leading- text-gray-50">
                        <p>Following restaurants and users gives you the ability to browse activity, obtain better
                            recommendations and see what others are eating, to get the best possible experience.</p>
                    </div>
                </details>
            </div>
        </div>

    </div>

</div>