<div class="w-screen h-full bg-gray-50 items-center content-center justify-center flex">
        
    <div class="flex flex-col space-y-10 w-full items-center justify-center overflow-y-scroll py-5">

        <div class="">
            <p class="text-5xl font-bold text-green-900">
                FAQ
            </p>
        </div>

        <div class="flex flex-col rounded-xl w-1/3 items-center shadow-md p-2 bg-green-800 hover:bg-green-900">
            <p class="text-2xl font-bold text-gray-50">
                Is this service free?
            </p>
            <p class="text-xl font-normal text-gray-50">
                Yes, our service is free of charge for everyone!
            </p>
        </div>

        <div class="flex flex-col rounded-xl w-1/3 items-center shadow-md p-2 bg-green-800 hover:bg-green-900">
            <p class="text-2xl font-bold text-gray-50">
                What is this for?
            </p>
            <p class="text-xl font-normal text-gray-50">
                This service allows you to find and order best quality meals from your favourite restaurants.
            </p>
        </div>

        <div class="flex flex-col rounded-xl w-1/3 items-center shadow-md p-2 bg-green-800 hover:bg-green-900">
            <p class="text-2xl font-bold text-gray-50">
                Why I can't see my favourite restaurant?
            </p>
            <p class="text-xl font-normal text-gray-50">
                Encourage restaurant owners to sign-up in our service to order meals from them.
            </p>
        </div>

        <div class="flex flex-col rounded-xl w-1/3 items-center shadow-md p-2 bg-green-800 hover:bg-green-900">
            <p class="text-2xl font-bold text-gray-50">
                What are the advantages of following restaurants and users?
            </p>
            <p class="text-xl font-normal text-gray-50">
                Following restaurants and users gives you the ability to browse activity, obtain better recommendations and see what others are eating, to get the best possible experience.
            </p>
        </div>

    </div>   

</div>

