<!-- Activity wall -->
<div class="basis-3/4 flex flex-col ml-5 h-full">
    <!-- Section button - Add post -->
    <div class="h-24 w-full flex items-center justify-center">
        <button type="button" class="bg-green-800 px-7 py-3 rounded-xl text-gray-50 font-medium hover:bg-green-900">Where are you eating today?</button>
    </div>

    <!-- Post list -->
    <div class="w-full h-fit flex flex-col gap-8 items-center">

        <div class="w-5/6 h-full" *ngFor="let activity of fetchedActivity">
            
            <app-adjustable-post *ngIf="activity.type == this.activityTypes.RESTAURANT_POST" [type]="this.postTypes.REGULAR_POST" [model]="activity" [isOwner]="this.isOwner" (reloadEventEmitter)="this.updateData($event)"></app-adjustable-post>
        
            <app-adjustable-post *ngIf="activity.type == this.activityTypes.DISH_REVIEW" [type]="this.postTypes.DISH_REVIEW" [model]="activity" [isOwner]="this.isOwner" (reloadEventEmitter)="this.updateData($event)"></app-adjustable-post>

            <app-adjustable-post *ngIf="activity.type == this.activityTypes.RESTAURANT_REVIEW" [type]="this.postTypes.REST_REVIEW" [model]="activity" [isOwner]="this.isOwner" (reloadEventEmitter)="this.updateData($event)"></app-adjustable-post>
        
        </div>

    </div>

</div>

<!-- Reccomendations -->
<div class="basis-1/4 h-full flex flex-col items-center">
    <!-- Section header-->
    <div class="h-24 flex items-center">
        <h2 class="text-xl font-medium">We think you will enjoy these!</h2>
    </div>

    <!-- Reccomendation list-->
    <ng-container *ngFor="let rec of this.recommendations">
                
        <app-dish-tile [model]="rec"></app-dish-tile>
        
    </ng-container>
</div>