<div class="fixed h-full w-full flex items-center justify-center py-4 backdrop-blur-md bg-green-900/30 z-10">
    <div class="fixed h-5/6 bg-gray-50 rounded-2xl shadow-sm shadow-green-900 p-20 aspect-square border-1 border-green-900">

        <h3 class="text-5xl font-bold p-2 text-green-900 w-full justify-center text-center">
            Login / Register
        </h3>

        <p *ngIf="(error) != null" class="text-xl font-normal p-2 text-red-800 text-center">
            {{error}}
        </p>

        <p *ngIf="(error) == null" class="text-xl font-normal p-2 text-gray-900 text-center">
            Don’t have an account yet? Use register button instead!
        </p>
       
        <form (ngSubmit)="loginAction()" class="mt-8 space-y-6" action="#" method="POST">
            <input type="hidden" name="remember" value="true">
            <div class="rounded-3xl space-y-10">
              <div>
                <label for="username" class="sr-only">Email</label>
                <input  [(ngModel)]="model.username" 
                        id="username" 
                        name="username" 
                        type="username" 
                        autocomplete="username" 
                        required class="appearance-none rounded-xl relative block w-full px-3 py-4 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-green-500 focus:border-green-900 focus:z-10 text-md invalid:border-red-800 invalid:placeholder-red-800 invalid:text-red-800
                        focus:invalid:border-red-800 focus:invalid:ring-red-800"
                        placeholder="Username">
              </div>
              <div>
                <label for="password" class="sr-only">Password</label>
                <input [(ngModel)]="model.password" id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-xl relative block w-full px-3 py-4 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-green-500 focus:border-green-900 focus:z-10 text-md invalid:border-red-800 invalid:placeholder-red-800 invalid:text-red-800
                focus:invalid:border-red-800 focus:invalid:ring-red-800" placeholder="Password">
              </div>
            </div>
      
            <div class="flex space-x-10 py-10">
              <button type="" class="group relative w-full flex justify-center px-3 py-4 border text-md font-medium rounded-xl text-green-900 bg-gray-50 hover:bg-green-900 hover:text-gray-50 border-green-900">
                    Register
              </button>

              <button (click)="closeOverlayAction()" class="rounded-2xl w-40 items-center justify-center flex fill-green-900 border-green-900 border hover:bg-green-900 hover:fill-gray-50">
                <svg  xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>

              <button type="submit" class="group relative w-full flex justify-center px-3 py-4 border text-md font-medium rounded-xl text-green-900 bg-gray-50 hover:bg-green-900 hover:text-gray-50 border-green-900">
                Login
              </button>
            </div>
        </form>
    </div>

</div>